footer{
    margin-top: 150px;
    width: 100%;
    background-color: #f7f7f7;
    display: flex; 
    min-height: 350px;
    justify-content: space-evenly;
}

footer div{
    margin-top: 35px;
}

footer div p{
    padding-top: 30px;
}

footer div:first-of-type p{
    font-size: 45px;
    padding-top: 15px;
    font-weight: bold;
    max-width: 100px; 
    
}