.sites{
    margin-top: 100px;
    display: flex;
    gap: 60px;
}

.sites div{
    
    text-align: left;
    gap: 15px;
    min-width: 18%;
    margin: 30px;
}

.sites div h1{
    padding-top: 25px;
    font-size: 35px;
}

.sites div p{
    font-size: 20px;
}

.sites div img{
    max-height: 80%;

    background-color: orange;
}

.sites div:first-of-type h1{
    
    font-size: 60px;
}

.sites div:first-of-type p{
    font-size: 25px;
    padding-top: 40px;
}

.sites div:first-of-type img{
    margin-top: 60px;
    padding: 15px 65px 15px 65px;
    height: 9%;
    
}